.cards{
    background-color: rgba(153, 205, 50, 0.493);
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    margin: 2rem;
    text-align: center;
    &__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    }
    &__cards{
    display: flex;
    flex-flow: column wrap;
    background-color: bisque;
    padding: 1rem;
    border-radius: 1rem;
    }
    &__contenido{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__img{
        width: 100%;
    }
}
