.item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    &__cards{
        display: flex;
        flex-flow: column wrap;
        background-color: bisque;
        padding: 1rem;
        border-radius: 1rem;
        gap: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: black;
    }
    &__contenido{
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
        text-align: center;
        list-style: none;
        text-decoration: none;
        align-items: center;
        justify-content: center;
    }
    &__img{
        height: 20rem;
        border-radius: 0.5rem;
        align-self: center;
    }
    &__detail{
        display: flex;
        gap: 4rem;
        align-items: center;
        justify-content: center;
        background-color: rgb(119, 145, 66);
        margin: 2rem;
        padding: 1rem;
        color: white;
        border-radius: 1rem;
    }
    &__img-detail{
        height: 45rem;
        border-radius: 0.5rem;
    }
}

.titulo{
    color: red;
    text-align: center;
    margin: 2rem;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    &__cargando{
        color: rgb(132, 177, 43);
        text-align: center;
        margin: 2rem;
        padding-top: 2rem;
        font-size: 2.5rem;
    }
}