.modal{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__x{
        display: flex;
        justify-content: flex-end;
    }
    &__body{
        justify-content: center;
        align-items: center;
        text-align: center;
        color: black;
    }
}

#cancel{
    background-color: rgba(255, 0, 0, 0.404);
    border-color: rgba(255, 0, 0, 0.425);
}

#cancel:hover{
    background-color: rgba(255, 0, 0, 0);
}