header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(150, 150, 47);
    img{
        height: 15vh;
        padding-left: 2rem;
    }
    ul{
        list-style: none;
        li{
            display: inline;
            padding: 0.5rem;
            a{
                color: black;
                text-decoration: none;
            }
            .cart::before {
                    content: " 🛒 ";
                    padding-left: 2rem;
            }
        }
    }
}