
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(100, 138, 26);
    img{
        height: 7vh;
        padding-left: 2rem;
        margin: 1rem;
    }
    ul{
        list-style: none;
        li{
            display: inline;
            padding: 0.5rem;
            a{
                color: white;
                text-decoration: none;
            }
            .cartWidget{
                color: white;
                margin-right: 0.5rem;
            }
        }
    }
}

.nav{
    color: yellowgreen;
    border: 0.15rem solid rgba(153, 205, 50, 0.342);
    border-radius: 1rem;
    padding: 0.5rem;
    &__active{
        color: white;
    }
}