*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.App {
  text-align: justify;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer{
  flex: 1;
}

h1{
  text-align: center;
}

button{
    color: black;
    background-color: rgba(153, 205, 50, 0.589);
    border: 0.15rem solid rgba(153, 205, 50, 0.692);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
    cursor: pointer;
}

button:hover{
    background-color: rgba(153, 205, 50, 0.089);
}
