.count{
    margin: 2rem;
    text-align: center;
    align-items: center;
    &__add{
        display: inline-flex;
        gap: 1rem;
        padding: 1rem;
    }
    &__total{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}