.forms{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    align-items: center;
    &__input{
    border: 0.2rem solid yellowgreen;
    color: yellowgreen;
    padding: 1rem;
    text-align: center;
    }
}